@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Space Grotesk', sans-serif;
}
*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  color:#878d96;
  cursor: pointer;
  font-size: 20px;
  transition: .3s;

}
li:hover {
  color: white;
  transition: .3s;
}